.form {
    text-align: right;
  }
  .icon{
    height: 5rem;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #30068a;
    border: 1px solid #39068a;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #712ff6;
    border-color: #712ff6;
  }